[Desktop Entry]
##  The name of the application ##
Name=Scrutinize
GenericName=Inspect GGUF files

## A comment which act as a tooltip ##
Comment=Inspect the contents of GGUF model files

## The executable of the application with optional args ##
## You can state full path too ##
Exec=scrutinize %F

## State the name of the icon that will be used to display this entry ##
Icon=icon-scrutinize

## Is it a terminal app? For example htop will be set as Terminal=True ##
## Then default terminal app will be used to open the 'htop' ##
Terminal=false

##  The type as listed  ##
Type=Application

## MIME types this application can handle ##
MimeType=application/x-gguf;
